.soc1als {
  &__list {
    display: flex;
    column-gap: 5px;
  }

  &__link {
    @include flex-center(true);
    @include square(40px);

    color: var(--color-dark); 
    border-radius: 50%;

    @include hover {
      background-color: var(--color-accent);
    }

    svg {
      width: 50%;
      height: 50%;
    }
  }
}